In [1]:
!pip install numpy

Collecting numpy
  Downloading numpy-1.21.2-cp37-cp37m-win_amd64.whl (14.0 MB)
Installing collected packages: numpy
Successfully installed numpy-1.21.2

WARNING: You are using pip version 20.1.1; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\admin\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.3.2-cp37-cp37m-win_amd64.whl (10.0 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from pandas) (1.21.2)
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.2 pytz-2021.1

WARNING: You are using pip version 20.1.1; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\admin\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [3]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.4.3-cp37-cp37m-win_amd64.whl (7.2 MB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.1-cp37-cp37m-win_amd64.whl (51 kB)
Requirement already satisfied: numpy>=1.16 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (1.21.2)
Collecting pillow>=6.2.0
  Downloading Pillow-8.3.1-1-cp37-cp37m-win_amd64.whl (3.2 MB)
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from cycler>=0.10->matplotlib) (1.16.0)
Installing collected packages: kiwisolver, pillow, cycler, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.4.3 pillow-8.3.1

WARNING: You are using pip version 20.1.1; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\admin\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [4]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.2-py3-none-any.whl (292 kB)
Collecting scipy>=1.0
  Downloading scipy-1.7.1-cp37-cp37m-win_amd64.whl (33.6 MB)
Requirement already satisfied: numpy>=1.15 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from seaborn) (1.21.2)
Requirement already satisfied: pandas>=0.23 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from seaborn) (1.3.2)
Requirement already satisfied: matplotlib>=2.2 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from seaborn) (3.4.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.23->seaborn) (2.8.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from matplotlib>=2.2->seaborn) (8.3.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->seaborn) (1.16.0)
Installing collected packages: scipy, seaborn
Successfully installed scipy-1.7.1 seaborn-0.11.2

WARNING: You are using pip version 20.1.1; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\admin\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [5]:
!pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-0.24.2-cp37-cp37m-win_amd64.whl (6.8 MB)
Requirement already satisfied: scipy>=0.19.1 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn->sklearn) (1.7.1)
Collecting joblib>=0.11
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.2.0-py3-none-any.whl (12 kB)
Requirement already satisfied: numpy>=1.13.3 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn->sklearn) (1.21.2)
Using legacy setup.py install for sklearn, since package 'wheel' is not installed.
Installing collected packages: joblib, threadpoolctl, scikit-learn, sklearn
    Running setup.py install for sklearn: started
    Running setup.py install for sklearn: finished with status 'done'
Successfully installed joblib-1.0.1 scikit-learn-0.24.2 sklearn-0.0 threadpoolctl-2.2.0

WARNING: You are using pip version 20.1.1; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\admin\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('heart.csv')

In [8]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [13]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [14]:
df = df.sample(frac=1)

In [15]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
178,43,1,0,120,177,0,0,120,1,2.5,1,0,3,0
236,58,1,0,125,300,0,0,171,0,0.0,2,2,3,0
222,65,1,3,138,282,1,0,174,0,1.4,1,1,2,0
82,60,0,2,102,318,0,1,160,0,0.0,2,1,2,1
119,46,0,0,138,243,0,0,152,1,0.0,1,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,61,1,2,150,243,1,1,137,1,1.0,1,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
46,44,1,2,140,235,0,0,180,0,0.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
73,51,1,0,140,261,0,0,186,1,0.0,2,0,2,1

In [19]:
X = df.drop(['target'], axis=1).values
Y = df['target'].values

In [18]:
X

array([[43.,  1.,  0., ...,  1.,  0.,  3.],
       [58.,  1.,  0., ...,  2.,  2.,  3.],
       [65.,  1.,  3., ...,  1.,  1.,  2.],
       ...,
       [44.,  1.,  2., ...,  2.,  0.,  2.],
       [50.,  0.,  2., ...,  1.,  0.,  2.],
       [51.,  1.,  0., ...,  2.,  0.,  2.]])

In [20]:
Y

array([0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [33]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=64)

In [22]:
knn = KNeighborsClassifier()

In [23]:
knn.fit(X_train, Y_train)

KNeighborsClassifier()

In [24]:
Y_pred = knn.predict(X_test)

In [25]:
Y_pred

array([1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 1], dtype=int64)

In [26]:
accuracy_score(Y_pred, Y_test)

0.6710526315789473

In [27]:
from sklearn.preprocessing import StandardScaler

In [28]:
std = StandardScaler()
X_train_scaled = std.fit_transform(X_train)

In [29]:
X_test_scaled = std.transform(X_test)

In [30]:
knn.fit(X_train_scaled, Y_train)

KNeighborsClassifier()

In [31]:
Y_pred = knn.predict(X_test_scaled)

In [32]:
accuracy_score(Y_test, Y_pred )

0.8289473684210527